h2.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #546de5;
}

table.products{
    border: 1px solid #546de5;
    width: 80%;
    margin: auto;
    background-color: #fff;
}

td, tr {
    border: 1px solid #546de5;
}

table.products thead th{
    background-color: #546de5;
    color: aliceblue;
    padding: 1rem;
    
}

table.products tbody td{
    padding: 1rem;
}

table.products .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

table.products .edit-btn,
table.products .delete-btn {
    border: none;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

table.products .edit-btn{
    background-color: #546de5;
}

table.products .delete-btn{
    background-color: rgb(241, 0, 0);
}

