body {
    overflow-x: hidden;
}

.scroll-to-top {
    background-color: black;
    color: #fff;
    width: 10px;
    height: 10px;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: transform .2s ease-in-out;
    transform: translate(100px);
}

.scroll-to-top:hover {
    background-color: rgb(34, 34, 34);
}