header {
    background-color: #546de5;
    color: aliceblue;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}


header nav ul{
    display: flex;
    gap: 2rem;
}

header nav ul a {
    color: aliceblue;
    text-decoration: none;
}

header nav ul a:hover {
    color: #f7d794;
}