* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color:  #63cdda;
}

main {
    margin-top: 2rem;
    width: 350px;
}

main h1 {
    margin-bottom: 2rem;
    text-align: center;
    background-color: white;
    padding: 1rem;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.todo-input {
    border-radius: 5px;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex: 2;
}

.todo-input input{
    border: none;
    outline: none;
    flex: 1;
}

.todo-input button{
    padding: .4rem 1rem;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #63cdda;
    border-radius: 5px;
}

.todo-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
}

.todo-list .task.completed {
    opacity: .5;
}

.todo-list .task.completed p{
    text-decoration: line-through;
}

.todo-list .task p {
    flex: 1;
}

.todo-list .task .buttons button{
    border: none;
    color: white;
    padding: .4rem .5rem;
    cursor: pointer;
}

.todo-list .task .buttons .check{
    background-color: #3dc1d3;
}

.todo-list .task .buttons .delete{
    background-color: #e66767;
}


.filter {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    flex: 1;
}

.filter ul.filter-list {
    display: none;
    position: absolute;
    list-style: none;
    top: 2rem;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.filter ul.filter-list.show {
    display: block;
}

.filter ul.filter-list li {
    padding: .4rem;
    cursor: pointer;
}

.filter ul.filter-list li:hover {
    background-color: azure;
}